.conteudo{
    margin: 0px 200px;
}
#title-volunteering, #title-donations{
    color: #000;
    border-left: 7px solid #2D4F3D;
    padding-left: 10px;
}
@media (max-width: 1100px) {
    .conteudo{
        margin: 0px 100px;
    }
}

@media (max-width: 500px) {
    .conteudo{
        margin: 0px 30px;
    }
}